body{margin:0; padding:0;}
.container { width: 1150px; margin: 0 auto;}
nav ul{ list-style: none; padding:0 0 15px 0;}
nav ul li {float: left; padding-left: 150px;}
nav hr {clear:both; height: 1px; background: black;}

#main {min-height: 500px;}

footer hr {height:1px; background: black;}
footer p {text-align: center;}

/*링크에 대한 스타일 정의*/
/*링크색 : 검정, 밑줄제거*/
/*링크hover : 빨강, 밑줄표시*/
#nav a {font-weight: bold;}
#nav a:link {color:black; text-decoration: none;}
#nav a:hover {color:red; text-decoration: underline;}
#nav a:visited {color:black; text-decoration: none;}
#nav a:active {color:red; text-decoration: none;}